body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

#map {
height: 100%;
width: 100%;
}

.title{
position: absolute;
z-index: 100;
font-size: 40px;
font-weight: bold;
color: #fdf7f7;
text-transform: uppercase;
top: 100px;
left: 100px;
}

.search-container{
    position: absolute;
    z-index: 100;
    top: 150px;
    left: 100px;
    width: 200px;
    height: 40px;
    background-color: #FF8000;
    border-radius: 30px;
    display: flex;
}

.search-container input {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: white;
}

.search-container .search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input:focus{
    outline: none;
}

.search{
    font-size: 15px;
    color: white;
}

.search i{
cursor: pointer;
}

.stores-list-container{
    width: 250px;
    bottom: 40px;
    position: absolute;
    z-index: 100;
    background: white;
    top: 200px;
    left: 100px;
    border-radius: 15px;
    display: flex;
    overflow-y: hidden;
    padding-bottom: 20px;
}

.stores-list{
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
}
.store-container{
    border-bottom: 1px solid #979797;
    display: flex;
    cursor:pointer;
}

.store-info-container{
    flex-grow: 1;
}

.store-address {
    font-size: 12px;
    color: #514C4C;
    margin-top: 20px;
    font-weight: bolder;
}

.store-address span {
    display: block;
}
.store-phone-number{
    color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
}

.store-address span{
    display: block;
}

.store-number{
    width: 30px;
    height: 30px;
    background-color: #FF8000;
    color: #fdf7f7;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-number-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-info-window{
    min-width: 300px;
    font-size: 15px;
    padding: 8px;
}

.store-info-name{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0,0,0,.87);
}

.store-info-status{
    margin-top: 6px;
    border-bottom: 1px solid;
    color: #0000008c;
    padding-bottom: 6px;
}

.store-info-address, .store-info-phone {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.circle {
    width: 25px;
    height: 25px;
    background-color: #FF8000;
    border-radius: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
}

.store-container-background{
display: flex;
flex-grow: 1;
border-radius: 18px;
margin-top: 12px;
margin-bottom: 12px;
padding-left: 8px;
padding-right: 8px;
transition: all 0.2s ease-in-out;
}

.store-container-background:hover{
background-color: #ccc;
}
